@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --primary: #1aac83;
    --error: #e7195a;
    --dark: #414141;
    --s_bg: #fafafa;

    --space: 7ch;
    --border-rad: 20em;
}

body {
    font-family: 'Source Code Pro', monospace;
    font-weight: 800;

    color: var(--dark);
}

header {
    background-color: var(--s_bg);

    margin-left: 1ch;
    padding: 3ch 0 3ch 0;
}

.container a {
    text-decoration: none;
    color: var(--primary);
}

.pages .home {
    max-width: 60vw;
    margin: var(--space) 0 0 1ch;
}

.home form {
    display: grid;
    grid-template-columns: 1fr minmax(60px, 1fr);

    row-gap: 1ch;
    column-gap: 0.5ch;

    font-size: 1.25rem;
}

.home form label {
    grid-column: span 2;
}

.home form>button,
input {
    padding: 10px 1ch;
}