@use "./hamburger.scss";
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;400;600;800&display=swap");

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

*::after {
    box-sizing: border-box;
}

*::before {
    box-sizing: border-box;
}

$light-theme: (
    "primary": #1aac83,
    "info": #468585,
    "error": #e7195a,
    "shade_prim": #414141,
    "shade_scnd": #fafafa,
    "shade_prim_faded": #4141419e,

    "f_prim": #e4e4e4,
    "f_error": #fdb4cb,
    "f_bg": #6e6e6e
);

$dark-theme: (
    "primary": #1aac83,
    "info": #468585,
    "error": #e7195a,
    "shade_prim": #fafafa,
    "shade_scnd": #414141,
    "shade_prim_faded": #fafafa9e,

    "f_prim": #6e6e6e,
    "f_error": #fdb4cb,
    "f_bg": #bebebe
);

:root {
    $active-theme: $dark-theme;

    @each $color, $val in $active-theme {
        --#{$color}: #{$val};
    }
}

body[data-theme="light"] {
    @each $color, $val in $light-theme {
        --#{$color}: #{$val};
    }
}

body[data-theme="dark"] {
    @each $color, $val in $dark-theme {
        --#{$color}: #{$val};
    }

    .home {
        form {
            >label {
                color: var(--primary);

                &.home-input-err {
                    color: var(--error);
                }
            }

            input {
                font-weight: 600;
            }
        }

        .last-updated {
            font-weight: 600;

            li {
                font-weight: 400;
            }
        }
    }

    .inbox {
        form {
            label {
                color: var(--primary);
            }

            textarea {
                font-weight: 600;
            }

            .save-time {
                .selector {
                    p {
                        font-weight: 600;
                    }

                    ul {
                        li {
                            font-weight: 800;
                        }
                    }
                }
            }
        }

        .detailing {
            .notif-div {
                font-weight: 600;
            }
        }
    }
}

$f_border_rad: 5px;
$space: 10ch;
$mobile-width: 850px;

@mixin mobile {
    @media (max-width: #{$mobile-width}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$mobile-width}) {
        @content;
    }
}

body {
    font-family: "Source Code Pro", monospace;
    background: var(--shade_scnd);
    margin-bottom: 150px;
}

header {
    position: relative;
    padding: 3ch 0;
    z-index: 100;
    background: var(--shade_scnd);
    box-shadow: 0 4px 50px rgba(0, 0, 0, 0.25);
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;

    @include mobile {
        display: flex;
        justify-content: space-between;
        margin: 0 2ch;
    }

    a {
        display: inline-block;
        font-size: 0.8rem;
        text-decoration: none;
        color: var(--primary);

        @include desktop {
            &:hover {
                color: var(--error);
                text-shadow: 1px 3px 1px #0000004d;
            }
        }
    }

    button {
        background: none;
        border: none;
        padding: 0 1ch;

        svg {
            fill: var(--shade_prim);
            transition: 0.1s ease-out;
        }

        @include desktop {
            &:hover {
                svg {
                    fill: var(--primary);
                    filter: drop-shadow(1px 3px 1px #0000004d);
                }
            }
        }
    }
}

.pages {
    position: relative;
    margin: $space 1ch 0 1ch;

    @include desktop {
        max-width: 50vw;
        margin: 10ch auto;
    }
}

.home {
    position: relative;

    .slow-connection {
        position: absolute;
        top: calc($space + 3ch);
        left: 1ch;

        font-weight: 200;
        text-transform: lowercase;

        border: none;
        color: var(--shade_prim);
        font-size: 0.7em;
    }

    form {
        display: grid;
        grid-template-columns: 3fr minmax(0px, 1fr);

        row-gap: 0.5ch;
        column-gap: 0.25ch;

        font-size: 1.25rem;

        .home-input-err {
            color: var(--error);
        }

        >label {
            transition: 0.2s ease;
            margin-left: 0.5ch;

            font-weight: 800;
            grid-column: span 2;

            color: var(--shade_prim);
            text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25);
        }

        >button {
            background: var(--shade_prim);
            color: var(--primary);

            border: 2px solid transparent;
            border-radius: 0 $f_border_rad $f_border_rad 0;

            &:active {
                color: var(--shade_scnd);
            }

            &:disabled {
                color: var(--f_prim);
                background: var(--f_bg);
            }

            span {
                font-size: 1.5rem;
            }

            @include desktop {
                &:hover {
                    border: 2px solid var(--primary);

                    &:disabled {
                        border: 2px solid var(--f_error);
                    }

                    &:not(:disabled) {
                        span::before {
                            color: var(--shade_scnd);
                        }
                    }
                }
            }
        }

        >input {
            background: var(--shade_prim);
            color: var(--shade_scnd);
            border: none;
            border-radius: $f_border_rad 0 0 $f_border_rad;

            &:focus {
                outline-color: var(--primary);
            }

            &::placeholder {
                color: var(--f_prim);
            }
        }

        >button,
        >input {
            padding: 10px 1ch;
            text-overflow: ellipsis;
        }
    }

    .last-updated {
        font-size: 0.7em;
        color: var(--shade_prim);

        display: grid;

        margin-top: $space;
        margin-left: 1ch;

        >p {
            margin-bottom: 1ch;
            padding-bottom: 1ch;
            font-weight: 600;
            text-transform: lowercase;

            border: 1px;
            border-style: none none solid none;
            border-color: transparent;
            border-image: linear-gradient(to right, var(--f_bg), 80%, transparent);
            border-image-slice: 1;
        }

        >ul {
            border-collapse: collapse;
            list-style: none;

            >button {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                padding: 1ch;

                color: var(--shade_prim);
                background: none;
                border: 1px;
                border-style: none none solid none;
                border-color: transparent;
                border-image: linear-gradient(to right, var(--f_bg), 90%, transparent);
                border-image-slice: 1;

                p {
                    font-family: "Source Code Pro", monospace;
                    font-size: 0.8em;
                }

                .date-updated {
                    text-align: end;
                    color: var(--shade_scnd);
                    font-size: 0.8em;
                    font-weight: 600;
                    padding: 0.5ch 2ch;
                    margin-left: auto;

                    border-radius: 2ch;
                    background-color: var(--info);
                }
            }

            .loading-text::after {
                content: "";
                animation: dots 2s ease infinite;
            }

            @keyframes dots {
                0% {
                    content: "";
                }

                33% {
                    content: "\2686";
                }

                66% {
                    content: "\2686  \2686";
                }

                100% {
                    content: "\2686  \2686  \2686";
                }
            }
        }

        .update-p {
            margin-top: 0.5ch;
            margin-left: 0.5ch;

            transition: all 0.2s ease;
        }
    }
}

.inbox {
    position: relative;

    form {
        display: grid;
        grid-template-columns: 3fr minmax(100px, 1fr);
        gap: 3px;

        >label {
            font-size: 1.25rem;
            transition: 0.2s ease;

            margin-bottom: 0.25ch;
            margin-left: 0.1ch;
            padding: 0 4ch 0.25ch 0.5ch;

            overflow: hidden;
            text-overflow: ellipsis;

            text-shadow: 3px 2px 3px rgba(0, 0, 0, 0.25);

            font-weight: 800;
            letter-spacing: 0.5rem;
            text-transform: uppercase;

            border: 1px;
            border-style: none none solid none;
            border-color: transparent;
            border-image: linear-gradient(to right, var(--shade_prim), 95%, transparent);
            border-image-slice: 1;

            color: var(--shade_prim);
        }

        .save-time {
            display: grid;
            font-weight: 400;

            grid-template-rows: 35px 1fr;
            gap: 3px;

            >.submit-button {
                color: var(--primary);
                background: var(--shade_prim);

                border: 1px solid var(--shade_prim);
                border-radius: 0 0 $f_border_rad 0;
                box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.25);

                padding: 10px 1ch;
                text-overflow: ellipsis;

                &:active {
                    background: none;

                    svg {
                        fill: var(--shade_prim);
                    }
                }

                &:disabled {
                    background: none;
                    border: 1px solid var(--f_bg);

                    svg {
                        fill: var(--f_bg);
                    }
                }

                .on-save {
                    display: flex;
                    justify-content: center;
                }

                svg {
                    transition: font-size 0.15s ease-out;
                    fill: var(--primary);
                }

                @keyframes rotator {

                    0%,
                    100% {
                        transform: translateX(0%);
                    }

                    50% {
                        transform: translateX(80%);
                    }
                }

                .loading {
                    display: flex;
                    animation: rotator 0.7s infinite ease-in-out;

                    span {
                        color: var(--f_bg);
                        font-size: 1.7rem;
                    }
                }
            }

            .selector {
                $list_height: 250px;
                position: relative;

                box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.25);
                border: 1px solid var(--shade_prim);
                border-radius: 0 $f_border_rad 0 0;

                background: var(--shade_prim);
                color: var(--f_prim);

                >.hide-list {
                    display: none;
                }

                >.show-list {
                    display: grid;
                    box-shadow: 1px 3px 7px #0000004d;
                }

                >ul {
                    position: absolute;

                    z-index: 1;
                    background: var(--shade_prim);
                    width: calc(100% + 2px);
                    height: $list_height;

                    top: calc(100% + 0.5ch);

                    li {
                        list-style-type: none;
                        color: var(--primary);

                        display: flex;
                        align-items: center;
                        justify-content: center;

                        font-size: 0.7rem;

                        &:not(:last-child) {
                            border: 0.1px;
                            border-style: none none solid none;
                            border-color: var(--f_prim);
                        }

                        &:hover {
                            background-color: var(--shade_scnd);
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        >textarea {
            background: var(--shade_prim);
            color: var(--shade_scnd);

            padding: 1ch 1ch;
            text-overflow: ellipsis;

            border: none;
            border-radius: $f_border_rad 0 0 $f_border_rad;

            height: auto;
            resize: vertical;
            overflow-y: hidden;

            &:focus {
                outline-color: var(--primary);
            }

            &::placeholder {
                color: var(--f_prim);
            }
        }

        @include mobile {
            display: grid;
            grid-template-columns: none;
            gap: 3px;

            >textarea {
                border-radius: $f_border_rad $f_border_rad 0 0;

                font-weight: 200;
                font-size: 0.9rem;
            }

            .save-time {
                grid-template-rows: none;
                grid-template-columns: 4fr 5fr;

                position: relative;
                height: 60px;

                >.submit-button {
                    border-radius: 0 0 $f_border_rad 0;
                }

                >.selector {
                    border: none;
                    border-radius: 0 0 0 $f_border_rad;

                    >ul {
                        top: 8.5ch;
                        height: 250px;
                        width: calc(100svw - 20px);

                        border-radius: 0 0 $f_border_rad $f_border_rad;

                        li {
                            font-size: 0.8rem;
                        }
                    }
                }
            }
        }

        @include desktop {
            >label {
                letter-spacing: 0.7rem;
                grid-column: span 2;
            }

            >textarea {
                font-size: 1rem;
            }

            .save-time {
                .submit-button {
                    &:hover {
                        transition: background-color 0.2s ease;
                        border: 2px solid;

                        &:disabled {
                            border-color: var(--f_error);

                            svg {
                                fill: var(--f_error);
                            }
                        }

                        &:not(:disabled) {
                            background-color: none;
                            border-color: var(--primary);
                        }
                    }
                }

                .selector {
                    ul {
                        left: -1px;
                    }
                }
            }
        }
    }

    .detailing {
        color: var(--f_bg);
        font-size: 0.7rem;

        .extras {
            margin-top: 0.5ch;

            display: flex;
            justify-content: space-between;
            align-items: center;

            .update-p {
                margin-left: 0.5ch;
                transition: all 0.2s ease;
            }

            .link {
                margin-right: 0.5ch;
                border: 1px solid transparent;
                border-radius: $f_border_rad;

                padding: 0 1ch;

                overflow: hidden;
                text-overflow: ellipsis;
                text-decoration: none;
                background: var(--f_bg);
                color: var(--shade_scnd);

                max-width: 50%;

                @include desktop {
                    &:hover {
                        border: 1px solid var(--primary);
                        background: var(--shade_prim);
                    }
                }
            }
        }
    }
}

.menu-btn {
    position: absolute;
    right: 0.5ch;
    top: -0.25ch;
    padding: 0 2ch;
    z-index: 100;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    background: none;
    border: none;
}

.saved-data-options {
    position: absolute;
    right: 5ch;
    top: -0.25ch;

    background: var(--primary);
    padding-inline: 1ch;
    padding-top: 0.3ch;
    border-radius: 2ch;

    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 1ch;

    max-height: 3ch;

    &.hidden {
        width: 0;
        opacity: 0;
        transition:
            opacity 0.3s ease-out,
            width 0.3s ease-in-out;

        .reload-btn,
        .copy-btn {
            opacity: 0;
            right: -5ch;
        }
    }

    &.shown {
        width: 10ch;
        transition: width 0.3s ease-in-out;

        .reload-btn,
        .copy-btn {
            transition: opacity 0.3s ease-in;
            opacity: 1;

            background: none;
            border: none;

            svg {
                width: 3ch;
                height: 3ch;
                fill: var(--shade_scnd);
                filter: drop-shadow(1px 1px 1px rgb(0, 0, 0, 0.25));
                border-radius: 2ch;

                &:active {
                    fill: var(--f_bg);
                }
            }

            &:active {
                svg {
                    fill: var(--shade_prim);
                    border-radius: 100%;
                }
            }
        }

        .copy-btn {
            svg {
                @include desktop {
                    &:hover {
                        fill: var(--f_bg);
                    }
                }
            }
        }

        .reload-btn {
            svg {
                transition: transform 0.5s ease;
                filter: drop-shadow(1px 1px 1px rgb(0, 0, 0, 0.25));

                @include desktop {
                    &:hover {
                        transform: rotate(180deg);
                        fill: var(--f_bg);
                    }

                    &:not(:hover) {
                        transform: rotate(0deg);
                    }
                }
            }

            &:disabled {
                @keyframes is-loading {
                    0% {
                        transform: rotate(0deg);
                    }

                    100% {
                        transform: rotate(360deg);
                    }
                }

                svg {
                    animation: is-loading 0.5s infinite ease-in-out;
                    fill: var(--shade_scnd);
                }
            }
        }
    }
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
        transform: translateX(-30px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOutAnimation {
    from {
        opacity: 1;
        transform: translateX(0);
    }

    to {
        opacity: 0;
        transform: translateX(30px);
    }
}

.notif-div {
    position: absolute;
    right: 1ch;
    top: -7.5ch;

    background: none;
    border: none;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1ch;

    >p {
        padding: 1ch 1.5ch;
        border-radius: 2ch;
        color: var(--shade_prim);

        font-size: 0.55rem;
        font-weight: 600;

        text-align: left;
        letter-spacing: 0.09rem;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    }

    svg {
        width: 3ch;
        height: 3ch;

        fill: var(--shade_scnd);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);

        border-radius: 2ch;
        padding: 0.25ch;
    }

    @include desktop {
        cursor: pointer;

        >p {
            font-size: 0.66rem;
        }
    }
}

.notif-div.success {
    p {
        border: 1px solid var(--primary);
    }

    svg {
        fill: var(--primary);
    }
}

.notif-div.error {
    p {
        border: 1px solid var(--error);
    }

    svg {
        fill: var(--error);
    }
}

.notif-div.info {
    p {
        border: 1px solid var(--info);
    }

    svg {
        fill: var(--info);
    }
}

.notif-div.fade-in {
    animation: fadeInAnimation 0.5s ease-in-out forwards;
}

.notif-div.fade-out {
    animation: fadeOutAnimation 0.5s ease-in-out forwards;
}