@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;400;600;800&display=swap");

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

$primary: #1aac83;
$error: #e7195a;
$dark: #414141;
$s_bg: #fafafa;

$space: 10ch;
$border-rad: 20em;

$mobile-width: 600px;

@mixin mobile {
    @media (max-width: #{$mobile-width}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$mobile-width}) {
        @content;
    }
}

body {
    font-family: "Source Code Pro", monospace;
    font-weight: 800;
}

header {
    background-color: $s_bg;
    padding: 3ch 0 3ch 1ch;
}

.container {
    a {
        text-decoration: none;
        color: $primary;
    }
}

.pages {
    margin: $space 1ch 0 1ch;

    @include desktop {
        max-width: 70vw;
    }
}

.home {
    form {
        $f_bright_prim: #c8c8c8;
        $f_bright_error: #fdb4cb;
        $f_border_rad: 5px;

        display: grid;
        grid-template-columns: 3fr minmax(70px, 1fr);

        row-gap: 0.5ch;
        column-gap: 0.25ch;

        font-size: 1.25rem;

        > label {
            transition: 0.2s ease;
            grid-column: span 2;
            margin-left: 0.5ch;

            color: $dark;
        }

        > button {
            background: $dark;
            color: $primary;

            font-weight: 400;

            &:active {
                color: white;
            }

            &:disabled {
                color: $f_bright_prim;
                background: grey;
            }

            span::before {
                font-weight: 200;
                font-size: 1.2rem;
                content: "\279F";
            }
        }

        > input {
            background: $dark;
            color: $s_bg;

            &:focus {
                outline-color: $primary;
            }

            &::placeholder {
                color: $f_bright_prim;
            }
        }

        > button,
        > input {
            padding: 10px 1ch;
            text-overflow: ellipsis;

            border: none;
            border-radius: $f_border_rad;
        }
    }
}

.inbox {
    position: relative;

    form {
        $f_bright_prim: #c8c8c8;
        $f_bright_error: #fdb4cb;
        $f_border_rad: 3px;

        display: grid;
        grid-template-columns: 3fr minmax(100px, 1fr);

        gap: 3px;

        font-size: 1.25rem;

        > label {
            transition: 0.2s ease;
            padding: 0 0 0 0.7ch;
            margin-left: 0.1ch;

            font-weight: 800;
            letter-spacing: 0.5rem;
            text-transform: uppercase;

            border: 1px;
            border-style: none none solid none;
            border-color: transparent;
            border-image: linear-gradient(to right, $dark, 60%, transparent);
            border-image-slice: 1;

            color: $dark;
        }

        .save-time {
            display: grid;
            font-size: 0.7rem;
            font-weight: 400;

            grid-template-rows: 35px 1fr;
            gap: 3px;

            justify-items: stretch;

            > .submit-button {
                color: $primary;
                background: $dark;

                border: 1px solid $dark;
                border-radius: 0 0 $f_border_rad 0;

                padding: 10px 1ch;
                text-overflow: ellipsis;

                &:active {
                    background: none;
                }

                &:disabled {
                    background: none;
                    span {
                        color: $f_bright_prim;

                        &::before {
                            font-size: 1rem;
                            content: "saved";
                        }
                    }
                }

                > span {
                    font-weight: 600;
                    color: $primary;

                    &:active {
                        background: none;
                        border-color: $primary;
                    }

                    &::before {
                        transition: font-size 0.15s ease-out;
                        font-size: 2rem;
                        content: "\2BA8";
                    }
                }
            }

            .selector {
                $list_height: 200px;

                position: relative;

                border: 1px solid $dark;
                border-radius: 0 $f_border_rad 0 0;

                background: $dark;
                color: $f_bright_prim;

                > .hide-list {
                    display: none;
                }

                > .show-list {
                    display: grid;
                    box-shadow: 1px 3px 7px #0000004d;
                }

                > ul {
                    background: $dark;

                    position: absolute;
                    height: $list_height;
                    width: calc(100% + 0.1ch);

                    left: 0;
                    top: calc(100% + 0.5ch);

                    border-radius: 0 0 $f_border_rad 0;

                    li {
                        list-style-type: none;
                        color: $primary;

                        display: flex;
                        align-items: center;
                        justify-content: center;

                        font-size: 0.7rem;

                        &:not(:last-child) {
                            border: 0.1px;
                            border-style: none none solid none;
                            border-color: $f_bright_prim;
                        }

                        &:hover {
                            background-color: $s_bg;
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        > textarea {
            background: $dark;
            color: $s_bg;

            padding: 10px 1ch;
            text-overflow: ellipsis;

            border: none;
            border-radius: $f_border_rad 0 0 $f_border_rad;

            height: auto;
            resize: vertical;
            overflow-y: hidden;

            &:focus {
                outline-color: $primary;
            }

            &::placeholder {
                color: $f_bright_prim;
            }
        }

        @include mobile {
            display: grid;
            grid-template-columns: none;
            gap: 3px;

            > label {
                margin-bottom: 0.25ch;
                padding-bottom: 0.15ch;
                word-break: break-all;
            }

            > textarea {
                border-radius: $f_border_rad $f_border_rad 0 0;

                font-weight: 200;
                font-size: 0.9rem;
            }

            .save-time {
                grid-template-rows: none;
                grid-template-columns: 4fr 5fr;

                position: relative;

                height: 60px;

                > .submit-button {
                    border-radius: 0 0 $f_border_rad 0;

                    span::before {
                        font-size: 1.7rem;
                    }
                }

                > .selector {
                    border: none;
                    border-radius: 0 0 0 $f_border_rad;

                    > ul {
                        top: 8.5ch;
                        height: 200px;

                        border-radius: 0 0 $f_border_rad $f_border_rad;
                    }
                }
            }
        }

        @include desktop {
            > label {
                grid-column: span 2;
            }

            > textarea {
                font-size: 1.2rem;
            }

            .save-time {
                .submit-button {
                    &:hover {
                        transition: background-color 0.2s ease;
                        border: 2px solid;

                        &:disabled {
                            border-color: $f_bright_error;

                            span {
                                color: $f_bright_error;
                            }
                        }

                        &:not(:disabled) {
                            background-color: none;
                            border-color: $primary;

                            span {
                                color: $primary;
                            }
                        }
                    }
                }
            }
        }
    }

    .detailing {
        @keyframes fadeInAnimation {
            from {
                opacity: 0;
                transform: translateY(30px);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

        @keyframes fadeOutAnimation {
            from {
                opacity: 1;
                transform: translateY(0);
            }
            to {
                opacity: 0;
                transform: translateY(30px);
            }
        }

        font-size: 0.7em;
        color: #5c5c5c;

        .notif-div {
            display: grid;
            grid-template-columns: 1fr 30px;

            margin-top: 0.5ch;
            padding: 1.5ch 0;

            background: $dark;
            color: $s_bg;

            border: 1px solid $error;
            border-radius: 3px 3px 0 3px;

            font-weight: 200;
            height: 1fr;

            > p {
                display: flex;

                align-items: center;
                padding-left: 2ch;
            }

            > button {
                border: none;
                background: none;

                display: flex;
                justify-content: center;
                align-items: center;

                span {
                    color: $error;
                    font-size: 0.5rem;
                    font-weight: 800;
                }
            }
        }

        .notif-div.fade-in {
            animation: fadeInAnimation 0.5s ease-in-out forwards;
        }

        .notif-div.fade-out {
            animation: fadeOutAnimation 0.5s ease-in-out forwards;
        }

        .update-p {
            margin-top: 0.5ch;
            margin-left: 0.5ch;

            transition: all 0.2s ease;
        }
    }
}
