@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;400;600;800&display=swap");

* {
    margin: 0;
    padding: 0;
}

$primary: #1aac83;
$error: #e7195a;
$dark: #414141;
$s_bg: #fafafa;

$space: 7ch;
$border-rad: 20em;

body {
    font-family: "Source Code Pro", monospace;
    font-weight: 800;
}

header {
    background-color: $s_bg;

    margin-left: 1ch;
    padding: 3ch 0 3ch 0;
}

.container {
    a {
        text-decoration: none;
        color: $primary;
    }
}

.pages {
    .home {
        max-width: 60vw;
        margin: $space 1ch 0 1ch;
    }
}

.home {
    form {
        $f_bright_prim: #c8c8c8;
        $f_border_rad: 3px;

        display: grid;
        grid-template-columns: 3fr minmax(100px, 1fr);

        row-gap: 1ch;
        column-gap: 0.25ch;

        font-size: 1.25rem;
        
        >label {
            transition: 0.2s ease;
            grid-column: span 2;
        }

        .home-input-err {
            color: $error;
        }

        >button {
            background: $dark;
            color: $primary;

            border: none;
            border-radius: $f_border_rad;

            font-weight: 600;

            &:active{
                color: white;
            }

            &:disabled{
                color: $f_bright_prim;
                background: grey;
            }
        }

        >input{
            background: $dark;
            color: $s_bg;

            border: none;
            border-radius: $f_border_rad;

            &:focus {     
                outline-color: $primary;
            }

            &::placeholder{
                color: $f_bright_prim;
            }
        }

        >button,
        >input {
            padding: 10px 1ch;
            text-overflow: ellipsis;

            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
    }
}
