/* google font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
    --primary: #1aac83;
    --error: #e7195a;
}

body {
    background: #f1f1f1;
    margin: 0;
    font-family: "Roboto";
}

header {
    background: #fff;
}

header .container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #333;
    text-decoration: none;
}

.pages {
    max-width: 1400px;
    padding: 20px;
    margin: 0 auto;
}

.form-obj {
    display: grid;
    grid-template-columns: 1fr 100px;
    gap: 10px;

    max-width: 700px;
}

.home {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 100px;
}

.home-btn {
    background-color: var(--primary);
    color: white;

    padding: 10px;

    border-radius: 5px;

    text-decoration: none;
    text-align: center;
}

.inbox-details {
    background: #fff;
    border-radius: 4px;
    margin: 20px auto;
    padding: 20px;
    position: relative;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}

.inbox-details h4 {
    margin: 0 0 10px 0;
    font-size: 1.2em;
    color: var(--primary);
}

.inbox-details p {
    margin: 0;
    font-size: 0.9em;
    color: #555;
}

.inbox-details span {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    background: #f1f1f1;
    padding: 6px;
    border-radius: 50%;
    color: #333;
}